<p style="color: green"><%= notice %></p>
<section id="my-recipes" class="my-recipes-ctn d-flex col">
  <% if @recipes.any? %>
    <h2><%= "Recipes by #{@user.name}"%></h2>
    <% @recipes.each do |recipe| %>
      <%= render 'recipes/my-recipe', recipe: recipe %>
    <% end %>
  <% else %>
    <%= "No recipes by #{@user.name}"%>
  <% end %>
  <%= button_to "Create Recipe", new_recipe_path, method: :get %>
</section>
