<div id="<%= dom_id food %>">
  <tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.price %></td>
    <td>
      <p>
        <%= link_to "Show this food", food %>
      </p>
    </td>
  </tr>
</div>
